h1 {
  color: purple;
}

.mainContainer {
  width: 600px;
  margin: 0 auto;
  //border: 10px solid red;
}

.cell {
  border: 10px solid black;
  height: 150px;
  width: 150px;
  /*display: inline-block;*/
  float: left;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

.blueCell {
  background-color: blue;
}

.redCell {
  background-color: red;
}
